/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.login-form {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: auto;
    height: 100%;
}

.settings-form {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: auto;
    height: 100%;
}

.changepassword-form {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: auto;
    height: 100%;
}

.btn-continue-guest {
    width: 100%;
    max-width: 280px;
    padding: 10px;
    height: 100%;
    margin: auto;
}

.btn-changepassword {
    width: 100%;
    max-width: 280px;
    padding: 10px;
    height: 100%;
    margin: auto;
    position: center;
}

.btn-confirmpassword {
    width: 100%;
    max-width: 280px;
    padding: 10px;
    height: 100%;
    margin: auto;
}

.btn-save-setting {
    width: 100%;
    max-width: 280px;
    padding: 10px;
    height: 100%;
    margin: auto;
}

.ellipsis-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-header {
    padding: 0;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid darkgrey;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin:auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 1.75rem;
    }
}
